streamlit
requests
beautifulsoup4
faiss-cpu

langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

openai
tiktoken
unstructured
watchdog

pinecone
langchain-pinecone
python-dotenv